/* GENERAL */
body {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

nav{
    width: 10%;
    left: 0;
    flex-grow: 1;
}
.navbar {
    background-color: gray;
    height: 100%;
    float: left;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
    background-color: #ddd;
}
/* PAGE */

.page{
    border: 1px solid black;
    display: flex;
}

.content{
    text-align: center;
    /* background-color: red; */
    width: 100%;
}

